.comments{
    padding-block-start: 40px;
    padding-block-end: 40px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    padding: 24px;
}

.comments img{
    border-radius: 130px;
}

.comments-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.first-p {
    font: var(--body3);
    font-size: 24px;
}


.second-p{

    font: var(--headline5);
    opacity: 0.5;
    font-size: 16px;
}

@media screen and (min-width: 1024px){
    .comments{
        padding-block-start: 80px;
        padding-block-end: 80px; 
        padding: 80px;
    }
    .comments-text p{
        text-align: center;
    }
    .second-p{
        font-size: 20px;
    }
    .first-p{
        font-size: 34px;
    }
}